.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.selected.tab-border-top>.tab-border-top-container {
    background-color: #28cd72;
    height: 5px;
    top: 0;
    z-index: 6;
    background-image: linear-gradient(to right, #64d564ba, #c7da59, #f75f5f, #ec63c9,#64d564ba);
    background-size: 200% auto;
    animation: borderTopActive 4s linear infinite ;
    transition: ease-in-out 3ms;
}

@keyframes borderTopActive {
    to{
        background-position:200%;
    }
    
    from{
        background-position:0%;
    }
}

.monaco-workbench .part.statusbar>.items-container>.statusbar-item.remote-kind {
    background-color: var(--vscode-statusBarItem-remoteBackground);
    color: var(--vscode-statusBarItem-remoteForeground);
    background-image: linear-gradient(170deg, #64d564ba, #c7da59, #f75f5f, #ec63c9,#64d564ba);
    
}
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-actions .action-label.codicon {
    color: inherit;
    font-size: 16px;
    height: 16px;
    padding: 2px;
    width: 16px;
    background-image: #000000;
}
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active:hover>.tab-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active>.tab-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.dirty>.tab-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.sticky:not(.pinned-action-off)>.tab-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab:hover>.tab-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-actions .action-label:focus {
    opacity: 2;
    background-image: linear-gradient(45deg, #d72e2e, #ec63c9, transparent);
}