.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.selected.tab-border-top>.tab-border-top-container {
    background-color: #dc5050;
    height: 5px;
    top: 0;
    z-index: 6;
    background-image: linear-gradient(to right, #64d564ba, #e57777, #71d8a9, #ec63c9);
    background-size: 200% auto;
    animation: borderTopActive 4s linear infinite ;
    transition: 1ms;
}

@keyframes borderTopActive {
    to{
        background-position:100%;
    }
    from{
        background-position:200%;
    }
}
